<%- include('partials/_header'); -%>

<div class="container">
    <div class="row">
        <div class="col-lg-5 mb-5">
          <div class="card">
            <div class="card-body">
              <form action="/edit/<%= task._id %>" method="post">
                <div class="form-group">
                  <input
                    type="text"
                    name="title"
                    placeholder="Insert a title"
                    value="<%= task.title %>"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <textarea
                    name="description"
                    cols="80"
                    placeholder="Add description"
                    class="form-control"
                  ><%= task.description %></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">
                    Edit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
</div>
<%- include('partials/_footer'); -%>
